{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">{{ title|upper }}</h1>

                <!-- Author -->
                <p class="lead">

                    <a href="{{ path('list_post') }}">Home</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p>{{ date|date }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="{{ asset('uploads/post/' ~ photo) }}" alt="{{ title }}">

                <hr>

                <!-- Post Content -->
                <p class="lead">{{ descripion }}</p>



                <hr>

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form action="{{ path('add_comment') }}" method="post" id="comment">
                            <div class="form-group">

                                <textarea class="form-control" rows="3" name="comment" placeholder="Comment here"></textarea>

                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                <!-- Single Comment -->
                {% for comment in posts.comments %}
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.getUser().getUsername() }}</h5>
<p>{{ comment.getContent() }}</p>
                        {% if (comment.user.id ==app.user.id) %}
                            <a href="{{ path('delete_comment',{'id': comment.id}) }}">Delete</a>

                        {% else %}

                            you are not the comment owner
                            {% endif %}
                    </div>
                </div>
{% endfor %}
                <!-- Comment with nested comments -->


            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}