{%  extends 'base.html.twig' %}
{% block body %}
    <h1>Lists of Posts !</h1>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for posts in posts %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{ asset('uploads/post/' ~ posts.photo) }}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">{{ posts.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ path('update_post',{'id': posts.id}) }}"><button type="button" class="btn btn-sm btn-outline-secondary">Update</button></a>
                                        <a href="{{ path('delete_post',{'id': posts.id}) }}"><button type="button" class="btn btn-sm btn-outline-secondary">Delete</button></a>
                                        <a href="{{ path('detailed_post',{'id': posts.id}) }}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>

                                    </div>
                                    <small class="text-muted">{{ posts.postdate|date() }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
